<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center font-tittle">Ingrese presupuesto</h2>
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-3" *ngIf="cantidadIncorrecta">
                    <span class="badge bg-danger text-error">EL PRESUPUESTO DEBE SER MAYOR A 0</span>
                </div>
                <input type="number" [(ngModel)]="cantidad" class="form-control form-control-lg" placeholder="Ingrese el presupuesto ">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>